<div class="column span-24">
  <div class="span-24 prepend-top">

    <h3>Transaction Detail</h3>
    <div id="ordercontainer123">
      <div class="span-20 prepend-4">
        <table class="formbg mgb">
          <tr class="formbg1">
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Amount</th>
          </tr>
          <tr>
            <td>Sports Calendar</td>
            <td><%=h @order.quantity %></td>
            <td>$10.0</td>
            <td><%=h @order.total_price %></td>
          </tr>
        </table>
        <div class="span-20 formbg mgb">
          <div class="span-10 first prepend-top">
            <h3>Order Information</h3>
            <div class="box">
              <b>Order ID:</b> <%=h @order.id %> <br/>
              <b>Order Detail:</b> Sports Calendar
            </div></div>
            <div class="span-10 last prepend-top">
              <h3>Billing Address</h3>
              <div class="box">
                <b>Adress :</b> <%=h @order.address.billing_address %><br/>
                <b>City :</b> <%=h @order.address.billing_city %><br/>
                <b>Country :</b> <%=h @order.address.billing_country %><br/>
                <b>Post Code :</b> <%=h @order.address.billing_pincode %>
              </div>
            </div>
          </div>
          <div class="span-20 formbg mgb">
            <div class="span-10 prepend-top first">
              <h3>Customer Information</h3>
              <div class="box">
                <b>Name :</b> <%=h @order.fullname %><br/>
                <b>Email :</b> <%=h @order.email %>
              </div>
            </div>
            <div class="span-10 prepend-top last">
              <h3>Shipping Address</h3>
              <div class="box">
                <b>Adress :</b>
                <% if @order.address.shipping_address.blank? %>
                  <%=h @order.address.billing_address %>
                <% else %>
                  <%=h @order.address.shipping_address %>
                <% end %>
                <br/>
                <b>City :</b>
                <% if @order.address.shipping_city.blank? %>
                  <%=h @order.address.billing_city %>
                <% else %>
                  <%=h @order.address.shipping_city %>
                <% end %>
                <br/>
                <b>Country :</b>
                <% if @order.address.shipping_country.blank? %>
                  <%=h @order.address.billing_country %>
                <% else %>
                  <%=h @order.address.shipping_country %>
                <% end %>
                <br/>
                <b>Post Code :</b>
                <% if @order.address.shipping_pincode.blank? %>
                  <%=h @order.address.billing_pincode %>
                <% else %>
                  <%=h @order.address.shipping_pincode %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>


  <!--  <div class="span-6 last">
      <fieldset>
        <legend>Update Order Status</legend>
        <div class="prepend-1">
<%#= image_tag("print.gif") %>&nbsp;<%#= link_to_function("Print this Order", "PrintThisPage();return false;") %><br/>
<%#= image_tag("pdf.gif") %>&nbsp;<%#= link_to "Preview Calendar", calendar_path(@calendar), :layout => false,  :popup => ['new_window','height=620,width=430'] %><br/>
<%#= image_tag("download.gif") %>&nbsp;<%#= link_to "Download Image", images_calendar_order_url(@order) %><br/>
        </div>
      </fieldset>
    </div>
  </div>-->