<div class="span-24">
  <% val = @month.to_i %>
<%# 12.times do |i| %>
  <% for i in val..12 %>
    <% fields_for :images do |image_form| %>
      <% month = Date.parse("2011-#{val}-01") %>
            <% if val.eql?(6) || val.eql?(12) %>
            <div class="span-4 last">
            <% else %>
            <div class="span-4">
              <% end %>
            <div class="span-4"><strong><%= image_form.label :image, "Image For #{month.strftime("%B")}" %></strong></div>
            <div class="span-4" id="select_<%= i %>"><img src="../images/image5.jpg" width="147" height="100" /></div>
            <div class="image_<%= i %> span-4">
              <a href="#" class="jqModal black" rel="<%= i %>" id="image_<%= i %>">Choose images</a>
              <%= hidden_field_tag :"global_image_#{i}" %>
            </div>
          </div>
        <% end %>
        <% val = val+1 %>
      <% end %>


      <% for i in 1..@month.to_i-1  %>
        <% fields_for :images do |image_form| %>
          <% month = Date.parse("2011-#{i}-01") %>
             <% if val.eql?(6) || val.eql?(12) %>
            <div class="span-4 last">
            <% else %>
            <div class="span-4">
              <% end %>
              <div class="span-4"><strong><%= image_form.label :image, "Image For #{month.strftime("%B")}" %></strong></div>
              <div class="span-4" id="select_<%= i %>"><img src="../images/image5.jpg" width="147" height="100" /></div>
              <div class="image_<%= i %> span-4">
                <a href="#" class="jqModal black" rel="<%= i %>" id="image_<%= i %>">Choose images</a>
                <%= hidden_field_tag :"global_image_#{i}" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <script type="text/javascript">
        $(function(){
          $(document).ready(function() {
            $('#dialog').jqm();
          });
          // Sending page id to the jqModal for selecting Image from site
          $(".jqModal").click(function(){
            $("#dialog #page_id").val($(this).attr("rel"));
          });
          // End

          $("input[name='global_images[]']").click(function(){
            if(this.checked==true)
            {

              $('#dialog').jqmHide();
              var page_id = $("#dialog #page_id").val();
              // For Disabling the file field after selecting image from site defaults
              var image_id = this.value
              // Updating the div after selecting the image from site
              var ele = document.getElementById("image_"+page_id)
              ele.disabled = true;
              $('#image_'+page_id).html("change");
              // End
              //var ele1 = document.getElementById("delete_"+image_id)
              //ele1.style.display = "block"; //css("display", "block");
              $("#select_"+page_id).each(function() {
                var image = $(this).children("img");
                image.remove();

              });

              $("#select_"+page_id).children().remove();
         
         
              $("#display_"+image_id).clone().appendTo("#select_"+page_id);
        
              jQuery.ajax({
                type: "get",
                url: "<%= preview_calendar_path %>",
                //  dataType: "json",
                data: ({image_value : this.value, page_value : page_id}),
                success: function(calendar) {

                }
              });

              $("#global_image_"+page_id).val($(this).val());

              // remove all checked check box tag & make them uncheck for every click on from site
              $("input[name='global_images[]']").removeAttr('checked');
              // End
            }
          });
        });
      </script>


