<div id="main">
  <table class="calendercon">
    <tr>
      <td>
        <div id="calendar">

            <div class="left">
              <% if @date.beginning_of_month.month == 1 %>
                <%= link_to image_tag("previous.jpg"), :month => (@date.last_month.next_year) %>
              <% else %>
                <%= link_to image_tag("previous.jpg"), :month => (@date.last_month) %>
              <% end %>
            </div>
            <div class="right">
              <% if @date.end_of_month.month == 12 %>
                <%= link_to image_tag("next.jpg"), :month => (@date.next_month.last_year) %>
              <% else %>
                <%= link_to image_tag("next.jpg"), :month => (@date.next_month) %>
              <% end %>
            </div>

          <div class="calenderimg">
            <% unless @image.blank? %>
              <%= image_tag @image.image.attachment.url, :width => "400", :height => "270" %>
            <% else %>
              <%= image_tag("photo_not_available.jpg", :width => "400", :height => "270") %>
            <% end %>
          </div>
          <div class="Month">
            <%=h @date.strftime("%B %Y") %>
          </div>
          <div class="left">
          <% calendar_for @calendars, :year => @date.year, :month => @date.month do |calendar| %>
            <%#= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
            <% calendar.head do %>
              <% calendar.r do %>
                <%= calendar.h('S', :class=>"dayred") %>
                <%= calendar.h('M', :class=>"dayblack") %>
                <%= calendar.h('T', :class=>"dayblack") %>
                <%= calendar.h('W', :class=>"dayblack") %>
                <%= calendar.h('T', :class=>"dayblack") %>
                <%= calendar.h('F', :class=>"dayblack") %>
                <%= calendar.h('S', :class=>"dayblack") %>
                <%= calendar.h('S', :class=>"dayred") %>
                <%= calendar.h('M', :class=>"dayblack") %>
                <%= calendar.h('T', :class=>"dayblack") %>
                <%= calendar.h('W', :class=>"dayblack") %>
                <%= calendar.h('T', :class=>"dayblack") %>
                <%= calendar.h('F', :class=>"dayblack") %>
                <%= calendar.h('S', :class=>"dayblack") %>
                <%= calendar.h('S', :class=>"dayred") %>
                <%= calendar.h('M', :class=>"dayblack") %>
                <%= calendar.h('T', :class=>"dayblack") %>
                <%= calendar.h('W', :class=>"dayblack") %>
                <%= calendar.h('T', :class=>"dayblack") %>
                <%= calendar.h('F', :class=>"dayblack") %>
                <%= calendar.h('S', :class=>"dayblack") %>
              <% end %>
            <% end %>

            <%# calendar.day(:day_method => :calendar_date) do |date, calendars| %>
             <% calendar.head do %>
                <% calendar.r do %>
                  <% 21.times do |i| %>
                  <%= calendar.d(i+1, :class=>"daylit") %>
                  <% end %>
                <% end %>
            <% calendar.r do %>
                  <% 9.times do |i| %>
                  <%= calendar.d(i+22, :class=>"daylit") %>
                  <% end %>
                <% end %>
              <% end %>
              <%#= date.day %>
            <% end %>
          <%# end %>
          </div>
        </div>
      </td>
    </tr>
  </table>

</div>