<div class="span-24 prepend-top">
  <fieldset>
    <legend>View Images</legend>
    <div class="comment-box">
      <h4>View Images Here</h4>
      <% @global_images.each do |image| %>
        <%= link_to image_tag(image.attachment.url(:medium)), image.attachment.url, :rel => "example2" %>
        <div id="delete" style="display:none;">
          <%= link_to image_tag("cross.png"), admin_delete_image_url(image) %>
        </div>
      <% end %>
    </div>
    <div class="comment-box">
      <% form_for(@dashboard, :url => admin_dashboards_url, :html => {:multipart => true}) do |f| %>
        <%= f.error_messages %>
        <fieldset>
          <legend>Upload Images Here</legend>

          <%= link_to_function "Click Here", "$('.mainbox_upload').toggle()" %> <b>To upload images</b>

          <div class="mainbox_upload">
            <div class="span-12">
              <% 5.times do |i| %>
                <% fields_for :images do |image_form| %>
                  <div class="span-3">
                    <%= image_form.label :image, "Image" %>
                  </div>
                  <div class="span-8 last">
                    <%= image_form.file_field :"attachment_#{i}" %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </fieldset>
        <%= f.submit "Upload" %>
      <% end %>
      <div class="clear"></div>

    </div>
  </fieldset>
</div>


<script>
  $(document).ready(function(){
    //Examples of how to assign the ColorBox event to elements

    $("a[rel='example2']").colorbox({transition:"fade"});

    //Example of preserving a JavaScript event for inline calls.
    $("#click").click(function(){
      $('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
      return false;
    });
  });
</script>