<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Sports Calendar: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_link_tag 'blueprint/screen', :media => "screen, projection" %>
    <%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
    <%= javascript_include_tag "jquery", "jquery.min", "application" %>
    <%= javascript_include_tag "jrails" %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="header">
      <div class="header">
        <div class="lefthead">
          <div class="seeur"><%= image_tag("seeyour.png") %></div>
          <div class="lefthead">
            <div class="choose"><%= image_tag("choose.png") %></div>
            <div class="sport"><%= image_tag("sport.png") %></div>
          </div>
        </div>
        <div class="custom"><%= image_tag("cusotmcalendar2011.png") %></div>
        <div class="nav">
          <ul>
            <li><%= link_to "HOME |", root_url %>&nbsp;</li>
            <li><a href="#"> testimonial&nbsp;|</a></li>
            <li><%= link_to "ORDER", new_calendar_url %>&nbsp;|</li>
            <li><a href="#"> Contact</a></li>
          </ul>
        </div>
        <div class="rightcornor"><%= image_tag("3simple.png") %></div>
      </div>
    </div>

    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :class => "#{name}" %>
    <%- end -%>

    <div class="container"><!--container begins (remove showgrid)-->
      <%=yield %>
    </div>

    <div id="footer">
      <div class="header">
        <div class="span-24 prepend-top">
          <div class="span-12">
            <p class="white"> <%= link_to "Home", root_url %> | <a href="#">Testimonial</a> | <a href="#">Contact Us</a> |
              <a href="#">Terms & Conditions</a> | <%= link_to "Order", new_calendar_url %>  </p></div>
          <div class="span-12 last"><p class="yellow">
              ©2010 Customised Calendar, Bristol unless explicitly acknowledged otherwise </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>